.containerFather {
  display: grid;
  place-content: center;
  padding: 30px;
}

.img {
  height: 140px;
  width: 100%;
  margin-bottom: 5px;
  object-fit: contain;
}

.tittleProduct {
  font-size: 30px;
  text-align: center;
}

.containerContentText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.containerContentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 500px) {
  .containerContentButton {
    flex-direction: column;
  }

  .button2 {
    margin-top: 25px;
  }
}

.button1 {
  min-width: 200px;
  padding: 10px;
  font-size: 15px;
  border-radius: 12px;
  margin-right: 20px;
  background: var(--first);
  color: #fff;
  border: none;
}

.button1:hover {
  cursor: pointer;
}

.button2 {
  width: 200px;
  padding: 10px;
  font-size: 15px;
  border-radius: 12px;
  margin-right: 20px;
  background: #fce6e3;
  border: none;
  color: #ff0000;
}

.button2:hover {
  cursor: pointer;
}
