/*
First:#E63C19
Second: #872612
Third: #FCE6E3
Txt_Title: #352927
Text_body:#706766
*/

@font-face {
  font-family: 'Aeonik';
  src: url('../assets/fonts/Aeonik-Light.otf') format('opentype'),
    url('../assets/fonts/Aeonik-LightItalic.otf') format('opentype'),
    url('../assets/fonts/Aeonik-Regular.otf') format('opentype'),
    url('../assets/fonts/Aeonik-RegularItalic.otf')
      format('opentype'),
    url('../assets/fonts/Aeonik-Bold.otf') format('opentype'),
    url('../assets/fonts/Aeonik-BoldItalic.otf') format('opentype'),
    url('../assets/fonts/Aeonik-Black.otf') format('opentype'),
    url('../assets/fonts/Aeonik-BlackItalic.otf') format('opentype'),
    url('../assets/fonts/Aeonik-Thin.otf') format('opentype'),
    url('../assets/fonts/Aeonik-ThinItalic.otf') format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Aeonik';
  letter-spacing: 0.5px;
}

:root {
  --first: #e63c19;
  --second: #872612;
  --third: #fce6e3;
  --fourth: #706766;
}

/*  html, img, video, iframe, svg, path { filter: invert(1) hue-rotate(180deg) }   */

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

#prev {
  left: 20px;
  border-radius: 2rem;
  top: 0px;
}

#next {
  right: 20px;
  border-radius: 2rem;
  top: 0px;
}
