@font-face {
  font-family: "Aeonik";
  src: url("../assets/global/fonts/Aeonik-Light.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-LightItalic.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-Regular.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-RegularItalic.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-Bold.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-BoldItalic.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-Black.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-BlackItalic.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-Thin.otf") format("opentype"),
    url("../assets/global/fonts/Aeonik-ThinItalic.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Aeonik";
  letter-spacing: 0.5px;
}

:root {
  --first: #e63c19;
  --second: #872612;
  --third: #fce6e3;
  --fourth: #706766;
}

/*  html, img, video, iframe, svg, path { filter: invert(1) hue-rotate(180deg) }   */

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

#prev {
  left: 20px;
  border-radius: 2rem;
  top: 0px;
}

#next {
  right: 20px;
  border-radius: 2rem;
  top: 0px;
}

.btn_second {
  border: none;
  background-color: #8f9f5e;
  padding: 10px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}
