.container {
  display: grid;
  place-content: center;
  height: 100vh;
}
.container_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_text {
  margin-top: 10px;
  font-size: 20px;
}

.container_info_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_input {
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 30px;
}

.btn_global {
  border: none;
  border-radius: 15px;
  padding: 7px 20px;
}

.btn_global:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form_button {
  background-color: #f26333;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.footer_button {
  background-color: #fff;
  color: #f26333;
}
