
  
  .container_content{
    background-color: #f2f2f2;
  }
  
  .container_top{
    height: 25vh;
    display: grid;
    place-content: center;
    grid-template-columns: 20% 80%;
    width: 100%;
  }
  
  .container_imagetop{
      display: flex;
      align-items: center;    
      justify-content: center;
  }
  
  .container_info p{
      padding-top: 20px;
  }
  .container_info p b{
  font-size: 20px;}
  
  .container_menu{
      height: 25vh;
    display: grid;
    place-content: center;
    grid-template-columns: 20% 70%;
    width: 100%;
  }
  
  .container_menu .container_search input{
    padding-left: 10px;
    border-radius: 25px;
    border-style: none; 
    box-shadow: 0px 1px #888888;
    width: 400px;
    height: 40px;
  }
  
  .container_buttons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      place-content: center;
      flex-wrap: wrap;    
  }
  
  .container_buttons .container_icon{
    background-color: #f5f2f2;
    margin-right: 5px;
    height: 17px;
    padding: 10px;
  }
  
  .active{
    border: 2px solid var(--first);
    background-color: var(--third);
    color: var(--first);
  }
  
  .container_buttons div{  
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;  
      border-radius: 25px;        
      background-color: white;
      box-shadow: 0px 1px #888888;
  }
  
  .container_buttons .Opt{
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .container_buttons .Opt:hover {
    background-color: var(--third);
    color: var(--first);
  }
  
  @media screen and (max-width: 1200px) {
    .container_menu .container_search input{
      width: 300px;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .container_menu .container_search input{
      width: 250px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .container_menu{
    grid-template-columns: 1fr;
  }
  .container_menu .container_search input{
    width: 400px;
  }
  .container_buttons{
    margin-top: 20px;
  }
  
  }
  