.container {
  background: var(--first);
  height: calc(100vh - 60px);
  display: grid;
  place-content: center;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.container_text {
  display: grid;
  place-content: center;
  padding-left: 150px;
}

.container_text h1 {
  font: 700 4rem/4.625rem 'Value Serif';
  color: #fff;
}

.container_text p {
  font: 400 1.125rem/1.75rem;
  color: #fff;
  margin: 15px 0px;
}

.container_text button {
  border: none;
  width: 170px;
  padding: 10px 20px;
  border-radius: 15px;
  background: var(--third);
  color: #000;
  z-index: 1;
}

.container_text button:hover {
  cursor: pointer;
  background: var(--second);
  color: #fff;
}

.container_media {
  display: flex;
  justify-content: center;
}

.container_media img {
  width: 500px;
}

@media screen and(max-width:841px) {
  .container_media img {
    width: 400;
  }
}

.wave {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 950px) {
  .container_text {
    padding: 0px 10%;
  }
}

@media screen and (max-width: 840px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
