.container_father {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contain_description {
  width: 500px;
  padding: 10px;
  h2 {
    font: 600 2.75rem/3.5rem 'Value Serif';
    color: var(--first);
  }
  p {
    margin: 10px 0px;
    font: 400 1rem/1.625rem 'Aeonik';
    b {
      color: #323232;
      font-weight: bold;
    }
  }
  ul {
    list-style: none;
    font: 400 1rem/1.625rem;
    li b {
      color: var(--first);
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.contain_form {
  display: grid;
  place-content: center;
  background-color: #fcfcfc;
  padding: 20px;
  input {
    border: none;
    border-bottom: 1px solid var(--fourth);
    padding: 10px 0px;
    background: transparent;
    margin: 5px 0px;
    width: 220px;
    &:focus {
      outline: none;
      box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
  }
  textarea {
    border: none;
    border-bottom: 1px solid var(--fourth);
    padding: 10px 0px;
    background: transparent;
    margin: 5px 0px;
    width: 220px;
    &:focus {
      outline: none;
      box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    }
  }
  button {
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    padding: 15px;
    background-color: var(--first);
    color: #fff;
  }
}

@media screen and (max-width: 760px) {
  .contain_description ul {
    display: flex;
    justify-content: center;
  }
  .contain_description ul div {
    width: 80%;
  }
}
