.container_menu {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 684px) {
  .container_menu {
    justify-content: center;
  }
}

.container_menu .container_search {
  margin-left: 10px;
}

.container_menu .container_search input {
  padding-left: 10px;
  border-radius: 25px;
  border-style: none;
  box-shadow: 0px 1px #888888;
  width: 400px;
  height: 40px;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  place-content: center;
  flex-wrap: wrap;
}

.container_buttons .container_icon {
  background-color: #f5f2f2;
  margin-right: 5px;
  height: 17px;
  padding: 10px;
}

.active {
  border: 2px solid var(--first);
  background-color: var(--third);
  color: var(--first);
}

.container_buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 1px #888888;
}

.container_buttons .Opt {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.container_buttons .Opt:hover {
  background-color: var(--third);
  color: var(--first);
}
